@font-face {
  font-family: maisonneue-bold;
  src: url("/assets/fonts/MaisonNeue-Bold.woff2") format("woff2"),
       url("/assets/fonts/MaisonNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: maisonneue-book;
  src: url("/assets/fonts/MaisonNeue-Book.woff2") format("woff2"),
       url("/assets/fonts/MaisonNeue-Book.woff") format("woff");
}

@font-face {
  font-family: maisonneue-italic;
  src: url("/assets/fonts/MaisonNeue-BookItalic.woff2") format("woff2"),
       url("/assets/fonts/MaisonNeue-BookItalic.woff") format("woff");
}

@font-face {
  font-family: sharpgrotesk-medium15;
  src: url("/assets/fonts/SharpGroteskMedium15.woff2") format("woff2"),
       url("/assets/fonts/SharpGroteskMedium15.woff") format("woff");
}

@font-face {
  font-family: sharpgrotesk-medium20;
  src: url("/assets/fonts/SharpGroteskMedium20.woff2") format("woff2"),
       url("/assets/fonts/SharpGroteskMedium20.woff") format("woff");
}

body {
  font-family: var(--body-font);
  font-weight: normal;
  color: var(--body-text);
}

em {
  font-family: var(--body-italic);
  font-weight: normal;
}


h1, h2, h3, h5, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: var(--heading-font);
  font-weight: normal;
  
}

.caps {
  font-family: var(--alt-font);
  font-weight: normal;
  letter-spacing: .055rem;
  text-transform: uppercase;
}

.subtext, .subtitle, .caption {
  color: var(--body2-text);
}

.MuiTypography-root strong {
  font-weight: normal;
  font-family: var(--body-bold);
}