
/** Section overrides */

@import "intro.css";
@import "map.css";
@import "scatterplot.css";
@import "master.css";


#opportunity {
  background: linear-gradient( #fff 15%, #f5f8fa 50%);
}

/** Section Container */

.section {
  background: #f8f8f8;
  background: linear-gradient( #fff 15%, #f8f8f8 50%);
  width:100%;
  position: relative;
  height: auto;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index:10;
  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}

@media(min-width: 960px) {
  .section {
    min-height: 100vh;
    margin-top: -108px;
  }
}

/** Section Component Wrapper */

.section__component {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: calc(100% - 108px);
  top: 108px;
  left:0;
  text-align: left; 
  overflow:hidden;
  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}

/** Section Split View */

.section__left {
  position: relative;
  padding-top: calc(100vh - 80px);
  width: 100%;
  z-index: 199;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  /* display:none; */
}

@media(min-width: 960px) {
  .section__left {
    display: none;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 199;
    height: auto;
    box-sizing: border-box;  
    background:#fff;
  }
}

.section__right {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100vh - 72px - 80px);
  margin: auto;
  overflow: hidden;
  z-index: 200;
}


@media(min-width: 960px) {
  .section__right {
    background:#fff;
    position: absolute;
    left: auto;
    right: 0px;
    bottom: 0;
    top: 0px;
    margin-top: 0;
    max-width: none;
    width: 100%;
    min-height: 1px;
    height: auto;
    z-index: 200;
    box-shadow: -1px 0 0#f4f4f4;
  }
}


.section__component--split .section__left,
.section__component--split .section__right {
  width: 50%;
  display:block;
}

.section__component--left .section__left,
.section__component--right .section__right {
  display:block;
}

.section__component--left .section__right,
.section__component--right .section__left {
  display:none;
}