
/** Section overrides */

@import "intro.css";
@import "map.css";
@import "scatterplot.css";
@import "master.css";


#opportunity {
  background: linear-gradient( #fff 15%, #f5f8fa 50%);
}

/** Section Container */

.section {
  background: #f8f8f8;
  background: linear-gradient( #fff 15%, #f8f8f8 50%);
  width:100%;
  position: relative;
  height: auto;
  text-align: center;
  padding: 64px 0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index:10;
  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}

@media(min-width: 960px) {
  .section {
    min-height: 100vh;
    padding: 96px 24px;
  }
}

/** Section Header */

.section__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding: var(--padding);
  z-index: 10;
  width:100%;
  font-size: var(--base-font-size);
}

@media(min-width: 960px) {
  .section__header {
    position: relative;
    padding: 0 24px;
    flex-direction: column;
  }
}

.section__header .section__heading {
  width: 100%;
  font-size: var(--h3-font-size);
  margin: 0px auto 24px
}

.section__header .section__description {
  max-width: 480px;
  width:100%;
  margin: 8px auto 24px;
  font-size: var(--body-font-size);
}

.section__body {
  position: relative;
  width: 100%;
}

/** Section Location List */

.section__places {
  transition: height 0.2s ease 0.1s;
  z-index:0;

  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}
@media(min-width: 960px) {
  .section__places {
    height: 268px;
    transition: height 0.2s ease 0.1s;
    z-index:0;
  
    /** z-index fix for sticky cards */
    -webkit-transform: translate3d(0,0,0);
  }
}

.section__places .location-card.location-card--search {
  display:none;
}
@media(min-width: 960px) {
  .section__places .location-card.location-card--search {
    display: block;
    padding-top: 72px;
    max-width: 300px;
  }
}

.section__places--overlay {
  display: none;
}
@media(min-width: 960px) {
  .section__places--overlay {
    display:block;
    pointer-events:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:999;
  }
  .section__places--overlay .location-card {
    visibility:hidden;
  }
  .section__places--overlay .location-card.location-card--search {
    visibility: visible;
    background:none;
    box-shadow:none;
    padding-top: 8px;
    overflow:visible;
  }
}

.section__places .location-card-list {
  position:sticky;
  top:116px;
  min-height: 164px;
  z-index:0;
  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}

@media(min-height: 940px) {
  .section__places .location-card-list {
    top: 124px;
  }
}

.section__places .location-card-list.location-card-list--0 {
  display: none;
}
@media(min-width: 960px) {
  .section__places .location-card-list.location-card-list--0 {
    display: flex;
  }  
}

/** Section Component Wrapper */

.section__component {
  z-index: 20;
  position: relative;
  top: 0;
  height: auto;
  text-align: left; 
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px #ccc, 0 -1px 0px rgba(0,0,0,0.05);

  /** z-index fix for sticky cards */
  -webkit-transform: translate3d(0,0,0);
}

@media(min-width: 960px) {
  .section__component {
    position: relative;
    top: 0;
    height: calc(100vh - 188px);
  }
  .section__places + .section__component {
    margin-top: -104px;
  }
}

@media(min-height: 940px) {
  .section__component {
    position: relative;
    top: 0;
    height: calc(100vh - 296px);
  }
}

/** Section Split View */

.section__left {
  position: relative;
  padding-top: calc(100vh - 80px);
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  /* display:none; */
}

@media(min-width: 960px) {
  .section__left {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 200;
    height: auto;
    box-sizing: border-box;  
  }
}

.section__right {
  position: relative;
  top: 0;
  width: 100%;
  height: calc(100vh - 72px - 80px);
  margin: auto;
  overflow: hidden;
  z-index: 200;
}


@media(min-width: 960px) {
  .section__right {
    position: absolute;
    left: auto;
    right: 0px;
    bottom: 0;
    top: 0px;
    margin-top: 0;
    max-width: none;
    width: 50%;
    min-height: 1px;
    height: auto;
    z-index: 100;
    box-shadow: -1px 0 0#f4f4f4;
  }
}