

.section.section--map {
  margin-top:80vh;
  z-index:20;
}

@media(min-width: 960px) {
  .section.section--map {
    justify-content: stretch;
    align-items: stretch;
  }
}



.section__left--scatterplot .dynamic-scatterplot__graph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}