

@media(min-width: 960px) {
  .section.section--scatterplot {
    justify-content: stretch;
    align-items: stretch;
  }
}

.section.section--scatterplot .dynamic-scatterplot__graph {
  position: absolute;
  left: 16px;
  top:40px;
  bottom:16px;
  right: 16px;
}
