

.dynamic-scatterplot {

}

.dynamic-scatterplot__graph {
  position: relative;
}

.dynamic-scatterplot__heading {
  position: absolute;
  z-index: 10;
  top: var(--padding);
  left: var(--padding);
  font-size: var(--small-font-size);
  margin-right: 104px;
  pointer-events: none;
}

.dynamic-scatterplot__heading .dynamic-scatterplot__subtitle {
  color: var(--body2-text);
}