
.hint .hint__container {
  margin-top: -8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;

  padding: 8px;
  border-radius: 2px;
  box-shadow: none;
  overflow: visible;
}

.hint .hint__container:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
}

.hint {
  pointer-events: none;
  
}

.hint .hint__container p {
  font-size: var(--micro-font-size);
  color: #fff;
}

.hint__text {
  display: inline-block;
  border: none;
  border-bottom: 1px dotted #8dd7d3;
  font-weight: bold;
  height: 1.35em;
  color: var(--link-text);
  background: none;
  padding:0;
  font-size: var(--body-font-size);
  text-transform: lowercase;
}

/** Arrow to indicate select **/
.hint__text--select:after {
  content: "\25BC";
  position: relative;
  top: -0.15em;
  font-size: 0.6em;
  display: inline-block;
  margin: 0 0.333em;
}

button.hint__text:focus {
  outline: none;
}