.map-legend {
  position:relative;
  width: 100%;
  background: #fff;
  display: flex;
  padding: 4px;
  font-size: 12px;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;
  color: #777;
  line-height: 1;
  height: 30px;
}

.map-legend--vertical {
  width: 8px;
  height: auto;
  min-height: 320px;
}

.map-legend__gradient {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  height: 8px;
}

.map-legend--vertical .map-legend__gradient {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:0;
  width: 100%;
  height:100%;
}

.map-legend__marker {
  top:0;
  left:0;
  bottom: 0;
  right:0;
  opacity:0;
  position: absolute;  
  height:100%;
  pointer-events: none;
  width:100%;
  transition: transform 0.4s ease 0.01s, opacity 0.4s ease;
  transform: translateX(50%);
}

.map-legend__marker--show { 
  opacity:1;
}

.map-legend--vertical .map-legend__marker {
  transform: translateY(-50%);
}

.map-legend__tick {
  position: absolute;
  background: #f00;
  border-left:4px solid #fff;
  border-right: 4px solid #fff;
  top:0;
  bottom:0;
  left:0;
  width: 8px;
  right:auto;
  box-sizing: content-box;
}

.map-legend--vertical .map-legend__tick {
  width: 100%;
  height: 4px;
  bottom: -6px;
  left:0;
  right:0;
  top:auto;
  border: none;
  border-top:4px solid #fff;
  border-bottom: 4px solid #fff;
}