

.dynamic-scatterplot {
  position:relative;
  width:100%;
  height:100%;
}

.dynamic-scatterplot .location-markers {
  position: absolute;
  top: 24px;
  right: 100px;
  bottom: 32px;
  left: 24px;
}

.dynamic-scatterplot .legend-bar.legend-bar--vertical .legend-bar__values {
  display: none;
}

.dynamic-scatterplot .legend-bar.legend-bar--vertical .legend-bar__tick {
  left: -4px;
}

.dynamic-scatterplot__heading {
  position: absolute;
  z-index: 10;
  top: var(--padding);
  left: var(--padding);
  right: 96px;
  pointer-events: none;
}
.dynamic-scatterplot__heading .dynamic-scatterplot__title {
  display: block;
  line-height: 24px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dynamic-scatterplot__heading .dynamic-scatterplot__subtitle {
  color: var(--body2-text);
  display: block;
  line-height: 16px;
}

.dynamic-scatterplot .circle-overlay__root {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  pointer-events:none;
  overflow: visible;
}

.dynamic-scatterplot .marker__root {
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dynamic-scatterplot .circle-overlay__circle--active .circle,
.dynamic-scatterplot .circle:hover {
  animation-name: heartBeat;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0 0 0 2px #f00;
}

.dynamic-scatterplot__x-labels {
  position: absolute;
  bottom: 8px;
  left: 24px;
  right: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--small-font-size);
  letter-spacing: 0.5px;
  font-family: var(--alt-font);
  color: var(--text-secondary);
  text-transform: uppercase;
}

@keyframes heartBeat {
  0% {
    transform: translate(-50%, -50%) scale(1);
    border-width: 2px;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.5);
    border-width: 1.5px;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.1);
    border-width: 1.9px;
  }
}
