

.dynamic-scatterplot {
  position:relative;
  width:100%;
  height:100%;
}

.dynamic-scatterplot .circle {
  transform: translate(-50%, -50%);
  transition: transform 0.1s cubic-bezier(0,1,.5,1);
}

.dynamic-scatterplot__heading {
  position: absolute;
  z-index: 10;
  top: var(--padding);
  left: var(--padding);
  right: 96px;
  pointer-events: none;
}
.dynamic-scatterplot__heading .dynamic-scatterplot__title {
  display: block;
  line-height: 24px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dynamic-scatterplot__heading .dynamic-scatterplot__subtitle {
  color: var(--body2-text);
  display: block;
  line-height: 16px;
}

.dynamic-scatterplot .circle-overlay__root {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  pointer-events:none;
  overflow: visible;
}

.dynamic-scatterplot .circle-overlay__circle {
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dynamic-scatterplot .circle-overlay__circle--active .circle,
.dynamic-scatterplot .circle:hover {
  animation-name: heartBeat;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0 0 0 2px #f00;
}

@keyframes heartBeat {
  0% {
    transform: translate(-50%, -50%) scale(1);
    border-width: 2px;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.5);
    border-width: 1.5px;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.1);
    border-width: 1.9px;
  }
}
