.chart-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

/** Logo */

.chart-embed .logo__link {
  position: absolute;
  right: 24px;
  top:20px;
  width: 240px;
  height: 40px;
}

.map-embed .logo__image,
.chart-embed .logo__image {
  clip: auto;
  width: 100%;
  position: static;
  left: auto;
}


/** Map Embed */

.map-embed {
  background: #fff;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

  /** Map placement */
  .map-embed .map {
    top: 56px;
    bottom: 0;
  }

  .map-embed .map > div {
    height:100%!important;
  }

  .map-embed--locations .map {
    bottom: 48px;
  }

  .map-embed .overlays {
    overflow: visible!important;
  }

  /** COntrols */
  .map-embed .mapboxgl-ctrl-us {
    display: none;
  }

  /** Legend */
  .map-embed .map-legend {
    position: absolute;
    bottom: 0;
    height: 60px;
    right: 0px;
    width: 280px;
    padding-top:0;
    overflow:hidden;
  }

  .map-embed .map-legend .map-legend__legend-bar {
    padding-top: 8px;
  }

  @media(min-width: 650px) {
    .map-embed .map-legend {
      bottom: 0px;
      height: 60px;
      left:auto;
      right: 0px;
      width: 340px;
    }
  }
  

  .map-embed .legend-actions {
    display: none;
  }

  .map-embed .mapboxgl-control-container .mapboxgl-ctrl-bottom-left {
    position:absolute;
    bottom: 0;
  }

  .map-embed .mapboxgl-control-container .mapboxgl-ctrl-bottom-right {
    position:absolute;
    right: auto;
    left: 104px;
    bottom: -4px;
  }

  @media(min-width: 768px) {
    .map-embed .mapboxgl-control-container .mapboxgl-ctrl-bottom-left {
      position:absolute;
      bottom: 16px;
    }
  
    .map-embed .mapboxgl-control-container .mapboxgl-ctrl-bottom-right {
      position:absolute;
      right: auto;
      left: 0px;
      bottom: 0;
    }
  }



  /** Map Title */
  .map-embed__header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 100;
    padding: 12px 8px;
    background: #fff;
    box-shadow: var(--shadow10);
  }

  .map-embed__heading {
    margin-left: 64px;
  }
  .map-embed__heading p {
    line-height: 1.3;
    margin-bottom: -4px;
    font-size: var(--small-font-size);
  }


  /** Logo */

  .map-embed .logo__link {
    display: block;
    position:absolute;
    top: 0px;
    bottom:0px;
    left: 16px;
    width: 44px;
    height: 44px;
    margin:auto;
    overflow: hidden;
  }
  .map-embed .logo__link .logo__image {
    height: 44px;
    width: auto;
    clip: rect(0px,44px,44px,0px);
    
  }



/** Tooltips */


/** Hide tooltip on small resolutions */
@media(max-width: 400px) {
  .mab-embed .tooltip,
  .chart-embed .tooltip {
    display: none;
  }
}

.map-embed .tooltip .stat-list,
.chart-embed .tooltip .stat-list {
  display: none;
}

.map-embed .tooltip em,
.chart-embed .tooltip em {
  display: none;
}

.map-embed .tooltip__demographic,
.chart-embed .tooltip__demographic {
  display: none;
}

/** Locations */

.map-embed .summary-group {
  margin-left:0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

/** Hide dismiss button */
.map-embed .summary-group .location-item__action {
  display:none;
}

