.site-footer {
  height: var(--footer-height);
  background: var(--footer-background);
  display: flex;
  align-items: center;
  font-size: 14px;
  box-shadow: var(--shadow-inset);
  color: var(--text-secondary);
  padding: 0 8px;
  position: relative;
  z-index: 1000;
}

.site-footer__copyright {
  flex: 1;
}

.site-footer__actions { 
  display: flex;
  align-items: center;
}

.site-footer__link-collection {
  margin-right: 16px;
}

.site-footer__link-label {
  margin-right: 8px;
}

.site-footer__actions .site-footer__button {
  text-transform: none;
  font-family: var(--body-font);
  letter-spacing: 0;
  color: var(--link);
  text-decoration: underline;
  min-width: 40px;
  height: 40px;
}

.site-footer .svg-icon--twitter,
.site-footer .svg-icon--facebook {
  width:16px;
  height: 16px;
}

.site-footer .stanford-logo {
  margin: 0 16px 0 4px;
  width: 80px;
  height: 40px;
  fill: var(--text-secondary);
}