.location-list .location-item {
  position:relative;
  min-height: 32px;
  padding-top: 16px;
}

.location-list .location-item:first-child {
  border-top: 0;
}

.location-list .location-item__heading {
  margin-bottom: 8px;
  margin-left: 32px;
  color: var(--text2);
}

.location-list .location-item__content {
  font-size: var(--font-size);
}

.location-list .location-item__marker {
  position:absolute;
  top: 18px;
  left: 0;

}

.location-list .location-item__content-wrapper {
  max-width: 100%;
  padding:0;
}

.location-list--comparison {
  margin-top: 8px;
  margin-bottom: 8px;
}

.location-list--similar .location-item__heading {
  margin-left:0;
}
.location-list .location-item hr {
  margin-top: 16px;
}
.location-list .location-item:last-child hr {
  border:none;
  margin-top: 0px;
}