.location-summary__stats {
  padding: 16px;
}

.location-summary__stats .location-item {
  margin-bottom:0;
}

.location-summary__stats .location-item__name {
  display: none
}

.location-item {
  margin-bottom: 16px;
}

.location-item.location-item--selected {
  margin: -8px -16px 16px;
  padding: 8px 16px;

}

.location-item__name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
}