.map-legend {
  width: 288px;
  pointer-events: all;
}

.map-legend  .legend-panel {
  background:#fff;
  box-shadow: var(--shadow100);
  position: relative;
  z-index: 100;
  transition: transform 0.2s ease-in-out;
}

.map-legend:hover .legend-panel {
  transform: translateY(-36px);
}

.map-legend .legend-panel__content {
  pointer-events:none;
}

.map-legend .legend-actions {
  position: absolute;
  z-index: 99;
  bottom:4px;
  width: 100%;
}

.map-legend  .legend-panel--condensed .legend-bar {
  position:relative;
  transition: margin 0.2s ease-in-out;
}

.map-legend  .legend-panel--condensed .legend-bar:nth-child(1) {
  z-index: 8;
}

.map-legend  .legend-panel--condensed .legend-bar:nth-child(2) {
  z-index:7;
}

.map-legend  .legend-panel--condensed .legend-bar .legend-bar__values {
  order:3;
  margin: 4px 0 0 0;
}

.map-legend  .legend-panel--condensed .legend-bar .legend-bar__labels {
  order:1;
  margin: 0 0 4px 0;
}


.map-legend .legend-panel--condensed .legend-bar:nth-child(2) {
  margin-top: -80px;
}

.map-legend.map-legend--secondary .legend-panel--condensed .legend-bar:nth-child(2) {
  margin-top: 0;
}

.map-legend .legend-panel__title {
  margin-bottom: 4px;
  position:relative;
  z-index:9;
}

/** Chart Legends */

.map-legend .legend-panel--chart {
  /* padding-bottom: 16px; */
}

.map-legend .legend-panel--chart .legend-bar.legend-bar--x-preview {
  height: auto;
  position:absolute;
  bottom:0px;
  background: transparent;
  left:20px;
  right: 4px;
  width:auto;
}

.map-legend .legend-panel--chart .legend-bar.legend-bar--x-preview .legend-bar__gradient {
  position:static;
  height: 0px;
}
.map-legend .legend-panel--chart .legend-bar.legend-bar--vertical .legend-bar__labels,
.map-legend .legend-panel--chart .legend-bar.legend-bar--vertical .legend-bar__values,
.map-legend .legend-panel--chart .legend-bar.legend-bar--x-preview .legend-bar__values {
  display:none;
}

.map-legend .legend-panel--chart .legend-bar.legend-bar--x-preview .legend-bar__labels {
  margin-top:-4px;
}

.map-legend .legend-panel--chart .legend-bar.legend-bar--vertical .legend-bar__labels {
  position: absolute;
  transform: rotate(-90deg);
  height: 24px;
  display: flex;
  width: 156px;
  transform-origin: top left;
  top: auto;
  bottom: -24px;
  left: 12px;
}


.map-legend .legend-panel--chart .legend-bar.legend-bar--vertical {
  position:absolute;
  left:-8px;
  top:8px;
  bottom:24px;
  right:auto;
}

.map-legend .legend-panel--chart .legend-bar.legend-bar--vertical .legend-bar__gradient {
  box-shadow: 0 0 0 2px #fff, -2px 0 4px rgba(0,0,0,0.5);
}


.map-legend .legend-actions {
  display: flex;
  justify-content: space-between;
}