.map-legend {
  pointer-events: all;
}

.map-legend  .legend-panel {
  background:rgba(255,255,255,0.9);
  box-shadow: var(--shadow10);
  position: relative;
  z-index: 100;
  transition: transform 0.2s ease-in-out;
}

.map-legend .legend-panel__content {
  pointer-events:none;
}

.map-legend .legend-panel__title {
  margin-bottom: 4px;
  position:relative;
  z-index:9;
}

/** CONDENSED VIEW */

  /** add padding when the legend is docked to accomodate help */
  .map-legend .legend-panel--condensed {
    padding-left: 40px;
    padding-right: 8px;
  }

  /** drop padding when undocked */
  @media(min-width: 650px) {
    .map-legend .legend-panel--condensed {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .map-legend .legend-panel--condensed .legend-bar {
    background: none;
  }

  /** condense height, add some padding to accomodate help button */
  .map-legend .legend-panel--condensed .legend-bar {
    height: 56px;
    padding-top: 10px;
    padding-bottom: 2px;
  }

  /** adjust padding when the legend is undocked */
  @media(min-width: 650px) {
    .map-legend .legend-panel--condensed .legend-bar {
      padding-top: 8px;
      padding-bottom: 4px;
    }
  }


  /** hide title */
  .map-legend .legend-panel--condensed .legend-bar .legend-bar__title {
    display: none;
  }

  .legend-panel--condensed .legend-bar {
    position:relative;
  }

  .legend-panel--condensed .legend-bar:nth-child(1) {
    z-index: 8;
  }

  .legend-panel--condensed .legend-bar__title {
    font-size: var(--mini-font-size);
    font-weight: 900;
    color: var(--text2);
    height: 24px;
    line-height: 16px;
    background: #eee;
    padding: 4px;
    text-transform: capitalize;
  }

  .legend-panel--condensed .legend-bar__title {
    margin: -4px -4px 8px -4px;
  }


  .legend-panel--condensed .legend-bar .legend-bar__values {
    order:3;
    margin: 4px 0 0 0;
  }

  .legend-panel--condensed .legend-bar .legend-bar__labels {
    order:1;
    margin: 0 0 4px 0;
  }

  .legend-panel--condensed .legend-bar.legend-bar--secondary .legend-bar__gradient {
    background: none!important;
  } 

  /** Desktop View */

    /** show title */
    @media(min-width: 1023px) {
      .map-legend .legend-panel--condensed .legend-bar .legend-bar__title {
        display: block;
      }
      /** condense height */
      .map-legend .legend-panel--condensed .legend-bar.legend-bar--title {
        height: 80px;
      }
    }

/** PREVIEW CHART VIEW */

.legend-panel--chart .legend-panel__content {
  width: 320px;
  height: 240px;
  max-width: 320px;
}

.scatterplot-preview {
  position: absolute;
  top: 0px;
  right: 0px;
  left:32px;
  right: 32px;
  width: 288px;
  height: 208px;
}

/** Axis Titles */
.scatterplot-preview .legend-bar .legend-bar__title {
  font-size: var(--micro-font-size);
  position:absolute;
  white-space: nowrap;
  text-transform: capitalize;
}

/** Overlay */

  .scatterplot-preview .location-markers {
    position: absolute;
    top: 8px; bottom: 8px; right: 8px; left: 8px;
  }

  .scatterplot-preview .location-markers .marker__root {
    width: 100%; height: 100%; position: absolute;
  }


/** X Axis */

.scatterplot-preview .legend-bar.legend-bar--x-preview {
  height: auto;
  position:absolute;
  bottom:0px;
  background: transparent;
  left:8px;
  right:8px;
  width:auto;
}

  /** Axis Name */
  .scatterplot-preview .legend-bar.legend-bar--x-preview .legend-bar__title {
    top: 24px;
    left:0;
    right:0;
    text-align:center;
  }

  /** Hide gradient */
  .scatterplot-preview .legend-bar.legend-bar--x-preview .legend-bar__gradient {
    position:static;
    height: 0px;
  }

  /** Axis Labels */
  .scatterplot-preview .legend-bar.legend-bar--x-preview .legend-bar__labels {
    position:absolute;
    top: 0px;
    left:0;
    right:0;
  }


/** Y axis */

  /** Axis container */
  .legend-panel--chart .legend-bar.legend-bar--vertical {
    position:absolute;
    left:-40px;
    top:8px;
    bottom:8px;
    right:auto;
  }



  /** Axis Name */
  .scatterplot-preview .legend-bar.legend-bar--y-preview .legend-bar__title {
    top:0; bottom:0;
    height:16px;
    margin:auto;
    margin-left: 16px;
    text-align: center;
    transform: translateX(-50%) rotate(-90deg); 
  }

  /** Labels Wrapper */
  .scatterplot-preview .legend-bar.legend-bar--vertical .legend-bar__labels {
    position: absolute;
    transform: rotate(-90deg);
    height: 24px;
    display: flex;
    width: 188px;
    transform-origin: top left;
    top: auto;
    bottom: -24px;
    left: 32px;
  }

  /** Color Gradent */
  .scatterplot-preview .legend-bar.legend-bar--vertical .legend-bar__gradient {
    box-shadow: 0 0 0 2px #fff, -2px 0 4px rgba(0,0,0,0.5);
  }

  /** No color gradient for versus charts */
  .legend-panel--versus .legend-bar.legend-bar--vertical {
    width: 0;
    background: none;
  }
  .legend-panel--versus .legend-bar.legend-bar--vertical .legend-bar__gradient  {
    background: none!important;
    width:0;
    box-shadow: none;
    left:40px;
  }

/** Hide axis values for preview chart */
.scatterplot-preview .legend-bar.legend-bar--vertical .legend-bar__values,
.scatterplot-preview .legend-bar.legend-bar--x-preview .legend-bar__values {
  display:none;
}


.map-legend .legend-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 100%;
}