.panel {
  position:relative;
  z-index:60;
  width: var(--panel-width);  
  flex-shrink:0;
  background: #fff;
  display: flex;
  flex-direction:column;
  align-items: stretch;
  justify-content: stretch;
  border-right: var(--divider-border);
}

.panel .button--link {
  font-family: var(--alt-font);
  text-transform: uppercase;
  font-size: var(--font-size);
  line-height: 1.5;
  margin-bottom: 0;
}

.panel .MuiButton-contained {
  font-size: var(--small-font-size);
}

.location-item__content .button--link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.panel .button--link.button--collapse .MuiSvgIcon-root {
  margin-left:-4px;
  margin-right: 8px;
}

.panel hr {
  margin-left: 16px;
  margin-right: 16px;
}

.panel .panel__content,
.panel .panel-section__content {
  color: var(--text2);
}

.panel.panel--on {
  margin-left:0;
}

.panel .button--close {
  margin-right: -8px;
}

.panel .panel__toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--divider-border);
  padding: 0px 16px;
}

.panel .tab {
  min-width: 1px;
  width:50%;
}

.panel .tabs__root .MuiTabs-flexContainer {
  height: 48px;
}

.panel__content {
  flex-grow: 1;
  overflow:auto;
}

.panel .tab-label .tab-label__title,
.panel .tab-label .tab-label__subtitle {
  color: var(--text);
}

.panel .accordion-item { 
  box-shadow: none; 
}

.panel .accordion-item:before {
  background: var(--divider);
}

.panel .tab-label {
  max-width: calc(100% - 40px);
}

.panel.panel--location .location-summary {
  padding: 16px;
}

.panel .button--panel {
  margin-left: -8px;
  margin-right: -8px;
  width: calc(100% + 16px);
  color: var(--link);
  font-size: var(--small-font-size);
}

.panel .callout {
  margin: -8px -8px 16px;
}

.panel .MuiTypography-root + .stat-list {
  margin-top: 4px;
}

.panel .MuiTypography-body1 {
  font-size: var(--font-size);
  line-height: 1.5;
}



/** Panel Section */

.panel .panel-section__heading {
  background: var(--grey0);
  font-family: var(--alt-font);
  text-transform: uppercase;
  margin: -9px -16px 0;
  padding: 8px 16px 6px;
  border-top: var(--divider-border);
  border-bottom: var(--divider-border);
  position: sticky;
  top:0;
  letter-spacing: 0.02rem;
  z-index: 99;
}

.panel .panel-section__content {
  padding: 0 16px 24px 16px;
}


.panel .panel-section__stat-summary {
  margin: 0 0 16px 0;
}

.panel .panel-section__subheading {
  --color: var(--text2);

  text-transform: capitalize;
  margin-top: 8px;
}

.panel-section__content .stat {
  position: relative;
}

.panel-section--summary .panel-section__content .stat.stat--diverging .diverging-bar {
  position: relative;
  margin-left: 72px;
  width: calc(100% - 72px);
}

.panel-section--summary .panel-section__content {
  padding-top: 8px;
}

.panel-section--summary .panel-section__content .stat.stat--diverging {
  position: relative;
  padding-top: 8px;

}

.panel-section--summary .stat.stat--diverging {
  flex-direction: column;
  align-items: start;
}

.panel-section--summary .stat.stat--diverging:first-child {
  border-top:none;
}

.panel-section--summary .stat.stat--diverging .stat__label {
  margin-bottom: 4px;
  position:absolute;
  top:12px;
  line-height: 1;
}

.panel-section--summary .stat.stat--diverging .stat__description {
  margin-top: 8px;
}

.panel-section--summary .stat-list + .button--panel {
  margin-top: 8px;
}


/** Metric details */

.panel-section__metric-details {
  padding: 8px 0;
}