.panel {
  position:relative;
  z-index:60;
  width: var(--panel-width);  
  flex-shrink:0;
  background: #fff;
  box-shadow: var(--shadow10);
  display: flex;
  flex-direction:column;
  align-items: stretch;
  justify-content: stretch;
}

.panel.panel--on {
  margin-left:0;
}

.panel .button--close {
  margin-right: -16px;
}

.panel .panel__toolbar {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--divider-border);
  padding: 0px 16px;
}

.panel .tab {
  min-width: 1px;
  width:50%;
}

.panel .tabs__root .MuiTabs-flexContainer {
  height: 48px;
}

.panel__content {
  flex-grow: 1;
  overflow:auto;
}

.panel .tab-label .tab-label__title,
.panel .tab-label .tab-label__subtitle {
  color: var(--text);
}

.panel .accordion-item { 
  box-shadow: none; 
}

.panel .tab-label {
  max-width: calc(100% - 40px);
}

