.scatterplot {
  --axis-right: 56px;
  --axis-bottom:64px;
  position:relative;
  width:100%;
  height:100%;
  background: var(--background);
}

/** secondary chart divider */
.scatterplot.scatterplot--secondary:after {
  content: '';
  display: block;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  height:100%;
  width:1px;
  background: linear-gradient(to bottom, var(--background), var(--darken2));
}

/** Override chart size to make space for Y Axis */
.scatterplot .echarts-for-react {
  width: calc(100% - var(--axis-right))!important;
  height: calc(100% - var(--axis-bottom))!important;
}

/** Heading */

  .scatterplot__heading {
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 16px;
    right: 0px;
    pointer-events: none;
  }

  .scatterplot__heading .scatterplot__title {
    display: block;
    line-height: 24px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
  }
  .scatterplot__heading .scatterplot__subtitle {
    color: var(--body2-text);
    display: block;
    line-height: 16px;
  }
  
  @media(min-width: 650px) {
    .scatterplot__heading {
      left:24px;
      top: 16px;
      right: 280px;
    }
    .section__content.section__content--split .scatterplot__heading,
    .charts__root.charts__root--split .scatterplot__heading {
      right: 24px;
    }
  }

  /** Mobile view, make room for search bar */
  .charts__root.charts__root--split .scatterplot__heading {
    right: 300px;
  }

  /** Larger resolutions have side by side charts, extend heading */
  @media(min-width: 1024px) {
    .charts__root.charts__root--split .scatterplot__heading {
      right: -220px;
    }
  }


/** Overlay */

  .scatterplot .marker__root {
    pointer-events:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .scatterplot .location-markers {
    position: absolute;
    top: var(--sp-top);
    right: calc(var(--axis-right) + var(--sp-right));
    bottom: calc(var(--axis-bottom) + var(--sp-bottom));
    left: var(--sp-left);
  }


/** Axis */

  .scatterplot__axis .legend-bar__title {
    font-size: var(--font-size);
    font-weight: 600;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  /** No values on legend bar for scatterplot axis */
  .scatterplot .scatterplot__axis .legend-bar__values {
    display: none;
  }

/** X Axis */

  .scatterplot__axis.scatterplot__axis--x {
    position: absolute;
    bottom:0;
    left: 16px;
    right: var(--axis-right);
    width:auto;
    padding:0;
    height: 56px;
    z-index:11;
    background: none;
    pointer-events: none;
  }

  .scatterplot__axis.scatterplot__axis--x .legend-bar__title {
    position:absolute;
    left:0;right:0;
    top: 8px;
    text-align:center;
  }

  .scatterplot__axis.scatterplot__axis--x .legend-bar__gradient {
    background: none!important;
    height:0;
    position:absolute;
    top: -16px;
    left:4px;
    right:var(--sp-right);
    width:calc(100% - var(--sp-right));
  }


  .scatterplot__axis.scatterplot__axis--x .legend-bar__labels {
    margin-top: 32px;
  }

  /** Bring axis name inline with labels when there is space */
  @media(min-width: 650px) {
    .scatterplot--embed .scatterplot__axis.scatterplot__axis--x .legend-bar__labels,
    .section__content--left .charts__root:not(.charts__root--split) .scatterplot__axis.scatterplot__axis--x .legend-bar__labels {
      margin-top: 24px;
    }
    .scatterplot--embed .scatterplot__axis.scatterplot__axis--x .legend-bar__title,
    .section__content--left .charts__root:not(.charts__root--split) .scatterplot__axis.scatterplot__axis--x .legend-bar__title {
      top:20px;
    }
    
  }
    

/** Y Axis */

  .scatterplot__axis.scatterplot__axis--y .legend-bar__values {
    display: none;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__tick {
    left: -4px;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__title {
    transform: translateX(50%) rotate(-90deg);
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 40px;
    text-align: center;
    height: 20px;
    margin: auto;
    transform-origin: center center;
    white-space: nowrap;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__labels {
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:0;
    height:100%;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__label {
    position:absolute;
    white-space: nowrap;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__label--low {
    bottom:0;
    left:-6px;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
  }

  .scatterplot__axis.scatterplot__axis--y .legend-bar__label--high {
    top:0;
    left:-10px;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: top right;
    margin-left: -100%;
  }

  /** 
   * Position y-axis legend bar on scatterplot 
   * (match top / bottom for scatterplot grid in scatterplot-style.js)
   */
   .scatterplot .scatterplot__axis--y {
    position: absolute;
    bottom: calc(var(--sp-bottom) + 56px);
    top: var(--sp-top);
    left: auto;
    right: -16px;
  }
  

/** Flip arrow when no gradient */
.scatterplot--versus .legend-bar--vertical .legend-bar__tick:after {
  border: 6px solid transparent;
  border-right-color: #000;
  position:absolute;
  left:-12px;
  right:auto;
  margin:auto;
  top: 0;
  bottom: 0;
}
/** No gradient on versus chart */
.scatterplot--versus .scatterplot__axis.scatterplot__axis--y .legend-bar__gradient {
  background: none!important;
  left:-24px;
}

@media(max-width: 1023px) {
  .scatterplot .legend-bar--vertical .legend-bar__tick:after {
    border: 6px solid transparent;
    border-right-color: #000;
    position:absolute;
    left:-12px;
    right:auto;
    margin:auto;
    top: 0;
    bottom: 0;
  }
  .scatterplot .scatterplot__axis.scatterplot__axis--y .legend-bar__gradient {
    background: none!important;
    left:-24px;
  }
  .scatterplot .scatterplot__axis.scatterplot__axis--y .legend-bar__title {
    right: 24px;
  }
  .scatterplot .scatterplot__axis.scatterplot__axis--y .legend-bar__labels {
    display: none;
  }
}


/** No X axis title on secondary chart */
.scatterplot--secondary .scatterplot__axis.scatterplot__axis--x .legend-bar__title {
  display: none;
}

/** Scatterplot Gap Selector */

.scatterplot__gap-selector {
  position: absolute;
  left:16px;
  right:56px;
  display: flex;
  align-items:center;
  justify-content:center;
  bottom: 32px;
  z-index: 10;
  color: var(--text3);
  font-weight: normal;
  font-family: var(--body-bold);
  font-size: var(--small-font-size);
}

.scatterplot__gap-selector .inline-menu .MuiInput-input {
  font-size: var(--small-font-size);
  margin-top: 3px;
}

/** Gap View Chart Visibility */

  /** Hide legend bar on versus bar when secondary chart is stacked on top */
  .section__content--split .charts__root--secondary .scatterplot.scatterplot--versus .legend-bar,
  .charts__root--split .scatterplot.scatterplot--versus .legend-bar {
    display: none;
  }

  /** Show legend bar once resolution is large enough for side by side */
  @media(min-width: 1024px) {
    .charts__root--split .scatterplot.scatterplot--versus .legend-bar {
      display: block;
    }
  }

/** Embed Scatterplot */

.scatterplot.scatterplot--embed {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scatterplot.scatterplot--embed {
  position: absolute;
  top: var(--scatterplot-heading);
  left:0;
  right:16px;
  bottom:0;
  width:auto;
  height:auto;
}

/** Increase chart width on small resolutions because axis is condensed */
@media(max-width: 650px) {
  .scatterplot.scatterplot--embed .echarts-for-react {
    width: calc(100% - var(--axis-right) + 16px)!important;
  }
  .scatterplot.scatterplot--embed .location-markers {
    right: calc(var(--axis-right) + var(--sp-right) - 16px);
  }
}

@media(min-width: 650px) {
  .scatterplot.scatterplot--embed {
    right: 24px;
  }
}

/** Move the heading outside of the scatterplot area */
.scatterplot.scatterplot--embed .scatterplot__heading {
  margin-top: calc(-1 * var(--scatterplot-heading));
  right: 264px;
  left:16px;
}