
/** Section Root */

.section {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(min-width: 1023px) {
  .section {
    justify-content: stretch;
    align-items: stretch;
    z-index:20;
  }
}

  /** Section Content Wrapper */

  .section__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    align-items:stretch;
    height:100%;
    width:100%;
    text-align: left; 

    transition: transform 0.2s ease-in-out;
  }

    /** Left side of section */

    .section__left {
      position:relative;
      min-width: 100%;
      height:100%;
      flex:1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      box-sizing: border-box;
      background: #fff;
      z-index:5;
      transform: translateX(-100%);
    }

    @media(min-width: 1023px) {
      .section__left {
        width: 100%;
        background:#fff;
      }
    }

    /** Right side of section */

    .section__right {
      position:relative;
      min-width: 100%;
      height: 100%;
      flex:1;
      z-index:4;
      transform: translateX(0%);
    }


    @media(min-width: 1023px) {
      .section__right {
        background:#fff;
        margin-top: 0;
        max-width: none;
        box-shadow: -1px 0 0#f4f4f4;
      }
    }

    /** Any additional section children */

    .section__children {
      position: absolute;
    }

    /** Section Footer */

    .section__footer {
      max-width: 100%;
    }


/** 
 * MODIFIERS 
 */

/** Both components are visible */

  /** Set width to 50 / 50 when split modifier */
  .section__content--split .section__left,
  .section__content--split .section__right {
    min-width: 50%;
    z-index:10;
  }

  /** Translate right section to the right side on 50 / 50 */
  .section__content--split .section__right {
    transform: translateX(100%);
  }

/** Left Component is visible */

  /** Translate left section into view on left modifier */
  .section__content--left .section__left {
    z-index:10;
    transform: translateX(0%);
  }

  /** Translate right section out of view on left modifier */
  .section__content--left .section__right {
    visibility: hidden;
  }

/** Right Component is visible */

  /** Translate right section into view on right modifier */
  .section__content--right .section__right {
    z-index:10;
    transform: translate(100%);
  }

  /** Translate left section out of view on right modifier */
  .section__content--right .section__left {
    visibility: hidden;
  }