

.stats-summary {
  margin: 0 0 12px 0;
}

.stats-summary .stats-summary__title {
  margin: 0 0 2px 0;
  color: var(--text2);
}

.stats-summary .stats-summary__content {
  display: flex;
  align-items: center;
}

.stats-summary .stats-summary__description {
  margin: 0 0 0 8px;
}

.stats-summary strong {
  font-weight: normal;
  font-family: var(--body-bold);
  color: var(--text);
}