
.stats {
  display: flex;
  flex-direction: column;
}

.stats__item {
  position: relative;
  margin-right: 2px;
  padding-bottom:4px;
  border-right-color:#fff !important;
}

.stats__item-marker {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: 4px;
}

.stats__item-label {
  font-family: var(--alt-font);
  font-size: var(--small-font-size);
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--text2);
  
}

.stats__item-value {
  font-weight: bold;
  font-family: var(--alt-font);
  margin-left: 4px;
}

.stats--horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.stats--horizontal .stats__item {
  width:33.333%;
}