.summary-group {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-shadow: 0 -0.5px 1px rgba(0,0,0,0.17);
  position:relative;
  z-index: 30;
  flex-direction: column-reverse;
}

.summary-group--shift {
  margin-left: var(--panel-width);
}

@media(min-width: 600px) {
  .summary-group {
    flex-direction: row;
  }
}

.summary-group .MuiTabs-flexContainer {
  height: auto;
}

.summary-group .summary-group__cards {
  flex: 1;
  overflow: visible;
  min-height: unset;
  background: var(--background);
}

@media(min-width: 600px) {
  .summary-group .summary-group__cards {
    overflow: hidden;
  min-height: 48px;
  }
}

.summary-group .MuiTabs-scroller .MuiTabs-flexContainer {
  align-items: flex-start;
  /* flex-direction: row-reverse; */
}

.summary-group .MuiTabs-indicator { display: none; }

.summary-group .tab {
  flex: 1;
  padding:0;
  max-width: none;
  min-width: 244px;
  opacity:1;
  transform: flex 0.2s ease-in-out;
}

/** Set max height to avoid bar from jumping on transition */
.summary-group .tab.summary-group__cards-exit .tab__wrapper {
  max-height: 64px;
  overflow:hidden;
}

.tab.summary-group__cards-enter {
  transform: translateY(100%);
}

.tab.summary-group__cards-enter.summary-group__cards-enter-active {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out 0.1s;
}

.tab.summary-group__cards-exit {
  /* opacity: 1; */
  flex:1;  
}

.tab.summary-group__cards-exit.summary-group__cards-exit-active {
  /* opacity:0.1; */
  flex:0.0001;
  transition: flex 0.2s ease-in;
}

.summary-group .location-item {
  padding: 0 8px;
}

.summary-group .location-item .location-item__content-wrapper {
  max-width: calc(100% - 56px);
}
.summary-group .location-item .location-item__heading {
  max-width: 100%;
}
.summary-group .location-item .location-item__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}