.help-legend.legend-bar--vertical {
  height: 136px;
  position:relative;
  width: 100%;
  margin: 32px 0;
}

.help-legend .legend-bar__gradient {
  width: 8px;
}

.help-legend .legend-bar__title {
  display: none;
}

.help-legend .legend-bar__label {
  position: absolute;
  top:-24px;
  left:0;
  margin:0;
  display: none
}

.help-legend .legend-bar__value {
  position: absolute;
  z-index:10;
  left: 16px;
  font-family: var(--body-font);
  font-weight: normal;
  line-height: 16px;
  font-size: var(--small-font-size);
  
  padding: 4px 8px;
}

.help-legend .legend-bar__value:before {
  content: "";
  width:0;
  height:0;
  border: 6px solid transparent;
  border-right-color: var(--grey3);
  position:absolute;
  top:0;
  bottom:0;
  left:-12px;
  margin:auto;
}

.help-legend .legend-bar__value.legend-bar__value--low {
  bottom: 0;
  transform: translateY(50%);
}

.help-legend .legend-bar__value.legend-bar__value--zero {
  transform: translateY(50%);
}

.help-legend .legend-bar__value.legend-bar__value--high {
  top: 0;
  transform: translateY(-50%);
}

.help-content__section {
  width: 100%;
}

.help-content strong {
  font-weight: normal;
  font-family: var(--body-bold);
}

.help-content__section .help-content__section-title {
  padding: 12px 16px 9px;
  line-height:1;
  background: var(--grey0);
  border-top: var(--divider-border);
  border-bottom: var(--divider-border);
  width: 100%;
  display: block;
  color: var(--text2);
  letter-spacing: 0.02rem;
  position: sticky;
  top:0;
  z-index:99;
}
