.help-legend.legend-bar--vertical {
  height: 120px;
  position:relative;
  width: 100%;
  margin: 24px 0;
}

.help-legend .legend-bar__gradient {
  width: 8px;
}

.help-legend .legend-bar__title {
  display: none;
}

.help-legend .legend-bar__label.legend-bar__label--low {
  position: absolute;
  bottom:-24px;
  left:0;
  margin:0;
}

.help-legend .legend-bar__label.legend-bar__label--high {
  position: absolute;
  top:-24px;
  left:0;
  margin:0;
}

.help-legend .legend-bar__value {
  position: absolute;
  left: 16px;
  font-family: var(--body-font);
  font-weight: normal;
  line-height: 18px;
}

.help-legend .legend-bar__value.legend-bar__value--low {
  bottom: 0;
}

.help-legend .legend-bar__value.legend-bar__value--zero {
  margin-bottom: -8px;
}

.help-content .help-legend__metric {
  font-weight: bold;
}

.help-content .help-legend__concept {
  padding-bottom: 24px;
}

.help-content__section {
  width: 100%;
}

.help-content strong {
  font-weight: bold;
}

.help-content__section-title {
  padding: 16px 16px 0;
  background: linear-gradient(to bottom, #fff, var(--alt-background));
  width: 100%;
  display: block;
  color: var(--text2);
}

.visual-help {
  padding: 16px;
  font-size: 13px;
}

.visual-help__preview {
  width: 100%;
}

.visual-help__legend {
  display: flex;
  margin-top: 8px;
  margin-bottom: 16px;
}

.visual-help__legend-concept {
  font-size: var(--small-text-size);
  letter-spacing: 0.5px;
  font-family: var(--alt-font);
  color: var(--text2);
  display: block;
  text-transform: uppercase;
}

.visual-help__legend .legend-bar {
  min-height:1px;

}

.visual-help__list {
  list-style: none;
  margin: 0;
  padding:0;
}

.visual-help__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  font-size: 13px;
}
.visual-help__list-item:last-child {
 margin-bottom: 0;
}

.visual-help__list-item .circle {
  min-width: 24px;
  min-height: 24px;
  color: var(--text2);
  margin:8px;
  opacity: 0.85;
  box-shadow: 0 0 0 1px var(--darken6);
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: normal;
}

.visual-help__list .visual-help__list-item .circle {
  color: transparent;
}

.visual-help__list-item .circle--dark {
  color: #fff;
}

.visual-help__shapes {
  transition: transform 0.5s ease-in-out 0.5s, opacity 0.5s ease-in-out 0.5s;
  transform: scale(1);
  transform-origin: bottom center;
  opacity:1;
}

.visual-help__preview--schools .visual-help__shapes {
  transform: scale(2.5);
  opacity: 0.5;
}

.visual-help__school-dots {
  transition: opacity 0.4s linear 0.7s;
  opacity:0;
  display: none;
}

.visual-help__preview--schools .visual-help__school-dots {
  opacity:1;
  transform: scale(1);
  display: block;
}

.visual-help__label-dot,
.visual-help__dot {
  opacity: 0.9;
}

.visual-help__label-dot {
  transition: transform 0.4s ease-in-out 0.7s;
}

.visual-help__preview--schools .visual-help__label-dot--low {
  transform: translate(60%, -10%)
}

.visual-help__preview--schools .visual-help__label-dot--mid {
  transform: translate(-10%, 40%)
}

.visual-help__preview--schools .visual-help__label-dot--high {
  transform: translate(-60%, 20%)
}

.visual-help__preview--schools .visual-help__label-dot--none {
  transform: translate(5%, -30%)
}