
@media(min-width: 960px) {
  .intro-spacer {
    margin-top: 90vh;
  }
}

.map-tool--parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@media(min-width: 960px) {
  .map-tool--parallax {
    perspective: 2px;
    transform-style: preserve-3d; 
  }
  .map-tool--parallax .section.section--intro {
    top: -24px;
    transform: translateZ(-1px) scale(1.51);
    z-index: -1;
  }
}