html {
  font-size: 100%;
  margin:0;
  padding:0;
}

body {
  position: relative;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

/** COMPONENTS */

/** Map Component */

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
}

.map__zoom {
  position: absolute;
  top: auto;
  bottom: 0px;
  top: 0px;
  height: 100%;
  right: 24px;
  left: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 960px) {
  .map__zoom {
    right: 24px;
    left: auto;
    top: auto;
  }
}

/** END COMPONENTS */

.controls {
  display: flex;
  margin-top: 16px;
}

.controls__control {
  margin: 0 8px;
}

.controls__control:first-child {
  margin-left: 0;
}
