@font-face {
  font-family: maisonneue-bold;
  src: url(/assets/fonts/MaisonNeue-Bold.ttf)
}

@font-face {
  font-family: maisonneue-book;
  src: url(/assets/fonts/MaisonNeue-Book.ttf)
}

@font-face {
  font-family: maisonneue-medium;
  src: url(/assets/fonts/MaisonNeue-Medium.ttf)
}

@font-face {
  font-family: sharpgrotesk-book20;
  src: url(/assets/fonts/SharpGrotesk-Book20.otf)
}

@font-face {
  font-family: sharpgrotesk-medium15;
  src: url(/assets/fonts/SharpGrotesk-Medium15.otf)
}

@font-face {
  font-family: sharpgrotesk-medium20;
  src: url(/assets/fonts/SharpGrotesk-Medium20.otf)
}

@font-face {
  font-family: sharpgrotesk-mediumitalic20;
  src: url(/assets/fonts/SharpGrotesk-MediumItalic20.otf)
}

body { overflow-y: scroll!important; padding-right:0!important; }

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: maisonneue-book, lato, helvetica neue, Arial, sans-serif, -apple-system;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alt {
  font-family: sharpgrotesk-medium20, lato, helvetica neue, Arial, sans-serif, -apple-system;
  font-weight: normal;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.body {
  position: relative;
  flex-grow: 1;
}
/** COMPONENTS */

/** Header Component */

.header {
  background: #fff !important;
}

.header--detached {
  background: transparent !important;
  position: fixed !important;
  box-shadow: none !important;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 999;
  padding: 6px 9px 2px 8px;
}

.header__container {
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

/** Map Component */

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
}


.map__zoom {
  position: absolute;
  top: auto;
  bottom: 0px;
  top: 0px;
  height: 100%;
  right: 24px;
  left: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 960px) {
  .map__zoom {
    right: 24px;
    left: auto;
    top: auto;
  }
}


/** Map Legend Component */

.map-legend {
  position: absolute;
  bottom: 8px;
  left: 104px;
  right: 8px;
  width: auto;
  background: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.map-legend__label {
  display: none;
}

@media(min-width: 600px) {
  .map-legend {
    display: none;
  }
}

.map-legend__label {
  flex: 1;
  flex-grow: 0;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 16px;
}

.map-legend__stops {
  height: 100%;
  flex-grow: 1;
}

.map-legend__marker {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #f00;
  box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.2);
  transition: left 0.2s ease-in-out;
  z-index: 10;
}

/** Color Stops Component */

.color-stops {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.color-stops--vertical {
  flex-direction: column-reverse;
}

.color-stops__stop {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.87);
}

/** Map Controls Component */

.map-controls {
  position: absolute;
  padding: 16px;
  z-index: 100;
  width: calc(50vw - 80px);
}

@media(min-width: 960px) {
  .map-controls {
    right: 24px;
    top: 24px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  }
}


/** Map Scatterplot Component **/

.map-scatterplot {
  position: relative;
  min-height: 66vh;
  flex-grow: 1;
  flex-shrink: 0;
  height: calc(100vh - 72px - 80px - 72px);
  margin-bottom: 96px;
  box-sizing: content-box;
}

@media(min-width: 960px) {
  .map-scatterplot {
    height: auto;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}

.map-scatterplot__header {
  position: absolute;
  top: 0px;
  left: 0;
  right: auto;
  z-index: 10;
  width: 100%;
  padding: 16px 24px;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.42;
}

.map-scatterplot__header p {
  text-align: left;
  margin: 0;
  display: inline-block;
  background: #fff;
}


.map-scatterplot__container {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-scatterplot .color-stops {
  position: absolute;
  height: auto;
  width: 16px;
  top: 24px;
  bottom: 40px;
  right: -16px;
  box-shadow: 0 0 0 4px #fff,
    -8px -4px 0 #fff,
    -8px 4px 0 #fff,
    0px 1px 5px 4px rgba(0, 0, 0, 0.2),
    0px 2px 2px 4px rgba(0, 0, 0, 0.14);
}


/** Map Locations Component **/

.map-locations {
  position: absolute;
  left: 24px;
  top: 32px;
  background: rgba(255, 255, 255, 0.666);
  border: 1px solid #e0e0e0;
  padding: 8px;
  max-width: 296px;
}

.map-location {
  width: 100%;
}

.map-location .map-location__report-button {
  height: 24px;
  padding: 0 8px;
  border-radius: 2px;
  min-width: 96px;
}

.map-location .map-location__close-button {
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  margin: 2px 8px;
}


.map-locations ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.map-locations ul li {
  position: relative;
  border-radius: 2px;
  padding: 4px 0px 4px 8px;
  font-size: 12px;
  margin: 0;
  width: auto;
}

.map-locations ul li div:first-child {
  margin-right: 0;
}

.map-locations ul li div:nth-child(2) {
  padding-right: 0px;
  padding-left: 8px;
}

.map-locations ul li div:nth-child(2) span {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.map-locations ul li button svg {
  width: 16px;
  height: 16px;
  font-size: 12px;
}


.number-marker {
  width: 12px;
  height: 12px;
  color: transparent;
  border-radius: 12px;
}

/** Report Card */

.report-card {}

.report-card__header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  height: 80px;
  padding: 8px 24px;
}

.report-card-section {
  border-top: 1px solid #e0e0e0;
}

.report-card-section:nth-child(2) {
  min-height: 480px;

}

.report-card .report-card-section__heading {
  font-size: 1rem;
  font-weight: bold;
  padding: 16px;
}

.report-card .report-card-section__body {
  padding: 0 16px 16px 16px;
}

/** END COMPONENTS */

.tooltip {
  position: fixed;
  z-index: 9999;
  margin: 8px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 188px;
  font-size: 10px;
  z-index: 9;
  margin-top: -20px;
  margin-left: -2px;
  transform: translate(-50%, -100%);
  border-radius: 2px;
  pointer-events: none;
  text-align: left;
  font-size: 12px;
}

.tooltip__title {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 4px;
}

.tooltip__content {
  line-height: 16px;
}

/* .mapboxgl-ctrl-bottom-left {
  top: 24px!important;
  right: 6px!important;
  left: auto!important;
  bottom: auto!important;
} */

.dynamic-scatterplot__graph {
  position: relative;
}


/** TEMPORARY **/

p.tmp__axis-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 7px;
  font-size: 13px;
}



.controls {
  display: flex;
  margin-top: 16px;
}

.controls__control {
  margin: 0 8px;
}

.controls__control:first-child {
  margin-left: 0;
}


/** SEARCH */

.map-view__container .map-search {
  position: absolute;
  right: 16px;
  z-index: 200;
  top: 16px;
  width: 300px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.map-view__header .map-search {
  position: fixed;
  height: 48px;
  top: 72px;
  width: auto;
  left: 16px;
  right: 16px;
  max-width: none;
}

@media(min-width: 600px) {
  .map-view__header .map-search {
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 420px;
    max-width: 568px;
  }
}

@media(min-width: 960px) {
  .map-view__header .map-search {
    z-index: 10;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    height: 56px;
    margin: 0;
    margin-left: auto;
    width: 400px;
    max-width: calc(50vw - 80px);
  }
}

.map-view__controls {
  position:absolute;
  left:0;
  z-index: 1000;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}