:root {

  /** Shade */
  --darken1: rgba(0,0,0,0.05);
  --darken2: rgba(0,0,0,0.15);
  --darken3: rgba(0,0,0,0.24);
  --darken4: rgba(0,0,0,0.37);
  --darken5: rgba(0,0,0,0.54);
  --darken6: rgba(0,0,0,0.66);
  --darken7: rgba(0,0,0,0.87);

  /** Brighten */
  --lighten1: rgba(255,255,255,0.05);
  --lighten2: rgba(255,255,255,0.15);
  --lighten3: rgba(255,255,255,0.24);
  --lighten4: rgba(255,255,255,0.37);
  --lighten5: rgba(255,255,255,0.54);
  --lighten6: rgba(255,255,255,0.66);
  --lighten7: rgba(255,255,255,0.87);

  /** Colors */
  --primary: #083794;
  --link: #0090FF;
  --accent: #FF003E;
  --text: #031232;
  --text2: #5D5D5D;
  --text3: #757575;
  --alt-text: #fff;
  --background: #fff;
  --dark-background: rgba(3, 18, 50, 0.9);
  --alt-background: #F5F8FA;
  --highlight-background: #EBFBFF;
  --footer-background: #f8f8f8;

  --body-text: var(--text);
  --body2-text: var(--text2);
  --link-text: var(--link);
  --tab-text: var(--primary);
  --accent2: #1B64AC;
  --accent3: #34BFEF;
  --accent4: rgb(177, 216, 206);
  --divider: #ECEFF1;
  --grey1: #efefef;
  --grey2: #DCDCDC;
  --grey3: #999;
  

  /** Margins and spacing */
  --grid-unit: 8px;
  --padding: 16px;
  --page-margin: 16px;

  /** Typography */
  --font: maisonneue-book, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --body-font: maisonneue-book, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --body-bold: maisonneue-bold, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --body-italic: maisonneue-italic, helvetica neue, Arial, sans-serif, -apple-system;
  --heading-font: sharpgrotesk-medium20, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --alt-font: sharpgrotesk-medium15,lato,helvetica neue,Arial,sans-serif,-apple-system;
  --font-size: 0.875rem; /** 14px */
  --base-font-size: var(--font-size); /** 14px */
  --small-font-size: 0.8125rem; /** 13px */
  --mini-font-size: 0.78125rem; /** 12.5px */
  --micro-font-size: 0.6875rem; /** 11px */
  --h1-font-size: 2.67em;
  --h2-font-size: 1.953em;
  --h3-font-size: 1.563em;
  --h4-font-size: 1.25em;
  --h5-font-size: 1.094em;
  --h6-font-size: 1em;
  --body-font-size: 1rem;
  --header-title-size: 0.875em;
  --header-subheader-size: 0.875em;

  /** Layout Sizes */
  --header-height: 104px;
  --header-row1-height: 64px;
  --header-row2-height: 40px;
  --menu-width: 320px;
  --help-panel-width: 320px;
  --locations-bar-height: 64px;
  --footer-height: 40px;
  --panel-width: 296px;
  --scatterplot-heading: 56px;

  /** Shadows */
  --shadow1: 0 0 1px rgba(0, 0, 0, 0.08), 1px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow10: 0 0 1.5px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.05);
  --shadow100: 0 0 4px rgba(0, 0, 0, 0.15), 4px 4px 8px rgba(0, 0, 0, 0.1);

  --divider-border: 1px solid var(--divider);

  /** Scatterplot Margins */
  --sp-top: 24px;
  --sp-right: 64px;
  --sp-left: 24px;
  --sp-bottom: 24px;

  /** Preview Margins */
  --sp-prev-top: 8px;
  --sp-prev-right: 8px;
  --sp-prev-left: 8px;
  --sp-prev-bottom: 8px;

}

/** Variable overrides for 1023px and above */
@media (min-width: 1023px) {
  :root {
    /** Margins and spacing */
    --page-margin: 24px;

    /** Typography */
    --base-font-size: 16px;
  }
}
