:root {

  /** Shade */
  --darken1: rgba(0,0,0,0.05);
  --darken2: rgba(0,0,0,0.15);
  --darken3: rgba(0,0,0,0.24);
  --darken4: rgba(0,0,0,0.37);
  --darken5: rgba(0,0,0,0.54);
  --darken6: rgba(0,0,0,0.66);
  --darken7: rgba(0,0,0,0.87);

  /** Brighten */
  --lighten1: rgba(255,255,255,0.05);
  --lighten2: rgba(255,255,255,0.15);
  --lighten3: rgba(255,255,255,0.24);
  --lighten4: rgba(255,255,255,0.37);
  --lighten5: rgba(255,255,255,0.54);
  --lighten6: rgba(255,255,255,0.66);
  --lighten7: rgba(255,255,255,0.87);

  /** Colors */
  --primary: #083794;
  --link: #0090FF;
  --accent: #FF003E;
  --text: #031232;
  --text-secondary: #5D5D5D;
  --alt-text: #fff;
  --background: #fff;
  --alt-background: #F5F8FA;
  --highlight-background: #EBFBFF;
  --footer-background: var(--alt-background);
  --body-text: var(--text);
  --body2-text: var(--text-secondary);
  --link-text: var(--link);
  --tab-text: var(--primary);
  --accent2: #1B64AC;
  --accent3: #34BFEF;
  --accent4: #1AE9B5;
  --divider: var(--darken2);
  --grey1: #efefef;
  --grey2: #dfdfdf;

  /** Margins and spacing */
  --grid-unit: 8px;
  --padding: 16px;
  --page-margin: 16px;

  /** Typography */
  --body-font: maisonneue-book, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --heading-font: sharpgrotesk-medium20, lato, helvetica neue, Arial, sans-serif, -apple-system;
  --alt-font: sharpgrotesk-medium15,lato,helvetica neue,Arial,sans-serif,-apple-system;
  --base-font-size: 14px;
  --small-font-size: 13px;
  --h1-font-size: 2.67em;
  --h2-font-size: 1.953em;
  --h3-font-size: 1.563em;
  --h4-font-size: 1.25em;
  --h5-font-size: 1.094em;
  --h6-font-size: 1em;
  --body-font-size: 1em;
  --micro-font-size: 0.8em;
  --header-title-size: 0.875em;
  --header-subheader-size: 0.875em;
  --card-title-size: 14px;
  --card-subheader-size: 12px;

  /** Layout Sizes */
  --header-height: 104px;
  --header-row1-height: 64px;
  --header-row2-height: 40px;
  --menu-width: 320px;
  --help-panel-width: 320px;
  --locations-bar-height: 64px;
  --footer-height: 40px;
  --help-width: 288px;

  /** Shadows */
  --shadow-inset: inset 0 1px 3px var(--darken3);
  --shadow1: 0 1px 2px var(--darken3);
  --shadow10: 0 1px 2px var(--darken4);
  --shadow100: 0 1px 4px var(--darken4);
  --shadow1000: 0 1px 4px var(--darken4);
  --shadow10000: 0 2px 8px var(--darken5);

  --divider-border: 1px solid var(--divider);


  /** DEPRECATED*/
  --shadow2: 0 1px 4px var(--darken4);
}

/** Variable overrides for 960px and above */
@media (min-width: 960px) {
  :root {
    /** Margins and spacing */
    --page-margin: 24px;

    /** Typography */
    --base-font-size: 16px;
  }
}
