.header-tabs {
  position: relative;
  height: 100%;
}


.tab:hover {
  background: var(--darken1);
}


.tab-label {
  font-size: 1rem; /** reset to base size */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position:relative;
  top: 2px;
  white-space:nowrap;
}


.tab-label__icon {
  display: none;
}
@media(min-width: 1060px) {
  .tab-label__icon {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    opacity:0.5;
  }
  .tab.tab--selected .tab-label__icon {
    opacity:1;
  }
}


.tab-label .tab-label__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  letter-spacing: 0;
}

.tab-label .tab-label__title {
  text-transform: capitalize;
  line-height:1;
  font-size: var(--small-font-size);
  color: var(--tab-text);
}

.tab-label .tab-label__subtitle {
  text-transform: none;
  font-size: var(--small-font-size);
  color: var(--tab-text);
}

.header-tabs .tab__indicator {
  height: 4px;
  background-color: var(--primary);
  overflow:visible;
}