
.circle {
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: transparent;
  border: 2px solid #fff;
  
  transition: transform 0.1s cubic-bezier(0,1,.5,1);
  cursor: pointer;
}