


.circle,
.marker.marker--circle {
  --size: 24px;
  --color: var(--text);
  --background: var(--alt-background);

  border: 2px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: var(--background);
}

.circle--dark {
  --color: #fff;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  font-size: var(--mini-font-size);
  font-family: var(--heading-font);
}
