.tooltip__wrapper {
  position:fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 999;
}

.tooltip {
  position: absolute;
  top:0;
  left:0;
  z-index: 9999;
  margin: 8px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 188px;
  font-size: var(--micro-font-size);
  z-index: 1000;
  border-radius: 2px;
  pointer-events: none;
  text-align: left;
  transform-origin: top left;
}
.tooltip__content::after {
  display: block;
  content: 'click to see more';
  color: #ccc;
  font-style:italic;
  margin-top: 4px;
}

.tooltip__title {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 4px;
}

.tooltip__content {
  line-height: 16px;
  font-size: 12px;
}