html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
}

#root,
.app,
.app__container,
.map-view,
.map-view__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.body {
  position:relative;
  flex-grow: 1;
}

/** LAYOUTS **/

/** IN DEVELOPMENT */
.map-view__scatterplot-overlay,
.map-view__search-overlay,
.map-legend,
.map-scatterplot {
  background: rgba(0,0,0,0.15);

}


/** Map View: Search Overlay */

.map-view__search-overlay {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
}

@media(min-width: 600px) {
  .map-view__search-overlay {
    top: 24px;
    left:24px;
    width: 50%;
    right:auto;
    max-width: 368px;
  }
}

/** Map View: Controls Overlay */

.map-view__controls-overlay {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  max-width: 400px;
  margin:auto;
}

@media(min-width: 600px) {
  .map-view__controls-overlay {
    left:auto;
    right: 24px;
    bottom:24px;
    max-width: 360px;
    width: calc(50% - 32px);
  }
}

@media(min-width: 1200px) {
  .map-view__controls-overlay {
    max-width: none;
  }
}


/** Map View: Scatterplot Overlay */

.map-view__scatterplot-overlay {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  max-width: 400px;
  margin:auto;
}

@media(min-width: 600px) {
  .map-view__scatterplot-overlay {
    right:auto;
    left: 24px;
    bottom:24px;
    max-width: none;
    width: calc(50% - 32px);
    max-width: 640px;
  }
}

/** END LAYOUTS */


/** COMPONENTS */

/** Header Component */

.header__container {
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

/** Map Component */

.map {
  position: absolute;
  top:0; left:0; right:0; bottom: 0px;
}

@media(min-width: 1200px) {
  .map {
    bottom: 112px;
    border-bottom: 1px solid #e0e0e0;
  }
}

/** Map Legend Component */

.map-legend {
  position:relative;
  top: -8px;
  background: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.map-legend__label {
  flex:1;
  font-size: 0.8rem;
  text-align:center;
  font-weight: bold;
  text-transform: uppercase;
}

.map-legend__stops {
  position: relative;
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: stretch;
  flex: 4;
}

.map-legend__stop {
  flex-grow:1;
}

.map-legend__marker {
  position:absolute;
  height:100%;
  width: 2px;
  background: rgba(0,0,0,0.5);
  transition: left 0.2s ease-in-out;
}

/** Map Controls Component */

.map-controls {
  position:relative;
  background: #fff;
  padding: 16px;
  z-index: 100;
}

@media(min-width: 1200px) {
  .map-controls {
    height: 72px;
    background:none;
    padding:0;
  }
}

/** Map Scatterplot Component **/

.map-scatterplot {
  position:relative;
  height:0px;
  padding-top: 56.25%;
}

.map-scatterplot__container {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

/** END COMPONENTS */

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}