html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
}

#root,
.app,
.app__container,
.map-view,
.map-view__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.body {
  position:relative;
  flex-grow: 1;
}

/** LAYOUTS **/

@media(min-width: 960px) {
  .map-view__container {
    overflow:hidden;
  }
}

/** Map View: Search Overlay */

.map-view__map {
  position:fixed;
  width:100%;
  top:56px;
  left:0;
  bottom:92px;
  right:0;
  border-bottom: 1px solid #ccc;
  overflow:hidden;
}

@media(min-width: 960px) {
  .map-view__map {
    position: absolute;
    top:0;left:0;bottom:0;
    right:0;
    width: calc(100% - 420px);
  }
}

.map-view__search-overlay {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index:200;
  max-width:420px;
  margin:auto;
}

@media(min-width: 600px) {
  .map-view__search-overlay {
    position:fixed;
    top: 80px;
    right:24px;
    left:24px;
    max-width: 420px;
  }
}

@media(min-width: 960px) {
  .map-view__search-overlay {
    position:absolute;
    top: 24px;
    right:auto;
    width:100%;
  }
}


/** Map View: Scatterplot Overlay */

.map-view__scatterplot-overlay {
  position: relative;
  top:100%;
  max-width: 420px;
  min-height: calc(100vh + 160px);
  margin:auto;
  margin-top: -96px;
  background:#fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

@media(min-width: 600px) {
  .map-view__scatterplot-overlay {
    margin-top: -120px;
    min-height: calc(100vh - 160px);
  }
}


@media(min-width: 960px) {
  .map-view__scatterplot-overlay {
    position:absolute;
    left:auto;
    right: 0px;
    bottom:0px;
    top:0;
    margin-top:0;
    width:420px;
    min-height: 1px;
  }
}

/** Map View: Report Card */

.map-view__report-card {
  display: none;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  transform: translate(100%, 0);
  transition: all 0.4s ease;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  transform: translate(0, 0);
  z-index:1;
  opacity:0;
}

.map-view__report-card--visible {
  z-index:300;
  opacity: 1;
  display: block;
  top:0;
  max-width: 420px;
  margin:auto;
  margin-top: -193px;
  left:0;
  right:0;
}

@media(min-width: 960px) {
  .map-view__report-card {
    display:block;
    position:absolute;
    transform: translate(100%, 0);
    top:0;
    bottom:0;
    max-width: none;
    width: 452px;
    margin-top: -112px;
    height:100%;
    margin:auto;
    left:auto;
    right:0;
  }
  .map-view__report-card--visible {
    transform: translate(0, 0);
    
  }
}

/** END LAYOUTS */


/** COMPONENTS */

/** Header Component */

.header {
  background: #fff!important;
}

.header--detached {
  background:transparent!important;
  position: fixed!important;
  box-shadow: none!important;
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 999;
  padding: 6px 9px 2px 8px;
}

.header__container {
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

/** Map Component */

.map {
  position: absolute;
  top:0; left:0; right:0; bottom: 0px;
}


.map__zoom {
  position:absolute;
  top:0;
  bottom:0;
  right: 24px;
  margin:auto;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

@media(min-width: 960px) {
  .map__zoom {
    left:24px;
    right:auto;
  }
}


/** Map Legend Component */

.map-legend {
  position:relative;
  top: -8px;
  left:8px;
  right: 8px;
  width: calc(100% - 16px);
  background: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

@media(min-width: 600px) {
  .map-legend {
    display:none;
  }
}

.map-legend__label {
  flex:1;
  flex-grow: 0;
  font-size: 0.8rem;
  text-align:center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 16px;
}

.map-legend__stops {
  height: 100%;
  flex-grow: 1;
}

.map-legend__marker {
  position:absolute;
  height:100%;
  top: 0px;
  bottom: 0;
  margin:auto;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #f00;
  box-shadow: 0px 0px 0px 3px rgba(255,0,0,0.2);
  transition: left 0.2s ease-in-out;
  z-index:10;
}

/** Color Stops Component */

.color-stops {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width:100%;
  height:100%;
}

.color-stops--vertical {
  flex-direction: column-reverse;
}

.color-stops__stop {
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(0,0,0,0.87);
}

/** Map Controls Component */

.map-controls {
  position:relative;
  padding: 16px;
  z-index: 100;
}

/* @media(min-width: 1200px) {
  .map-controls {
    height: 72px;
    background:none;
    box-shadow: none;
    padding:0;
  }
} */

/** Map Scatterplot Component **/

.map-scatterplot {
  position:relative;
  min-height: 300px;
  flex-grow:1;
}

.map-scatterplot__header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  padding: 16px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #efefef;
  line-height: 1.42;
}

.map-scatterplot__header p {
  text-align: center;
  margin:0;
}

.map-scatterplot__header span {
  border-bottom: 2px dotted #8dd7d3;
  font-weight:bold;
  color: #364e9f;
}

.map-scatterplot__container {
  position:absolute;
  width:100%;
  top:64px;
  left:0;
  right:0;
  bottom:0;
}

.map-scatterplot .color-stops {
  position: absolute;
  height:auto;
  width:16px;
  top:24px;
  bottom:40px;
  left: -16px;
  box-shadow: 0 0 0 4px #fff,
              8px -4px 0 #fff,
              8px 4px 0 #fff,
              0px 1px 5px 4px rgba(0,0,0,0.2), 
              0px 2px 2px 4px rgba(0,0,0,0.14);
}


/** Map Locations Component **/

.map-view__locations {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 100;
  background:#fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

.map-location {
  padding: 16px;
}

.map-location .map-location__report-button {
  height:24px;
  padding: 0 8px;
  border-radius: 2px;
  min-width: 96px;
}

.map-location .map-location__close-button {
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  margin: 2px 8px;
}


.map-locations ul {
  display:flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}
.map-locations ul li {
  position:relative;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  margin: 0 8px 0 8px;
}
.map-locations ul li div:first-child {
  margin-right:0;
}
.map-locations ul li div:nth-child(2) {
  padding-right:24px;
  padding-left:8px;
}
.map-locations ul li div:nth-child(2) span {
  font-size:12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.map-locations ul li button svg {
  width: 16px;
  height:16px;
  font-size:12px;
}


.number-marker {
  width: 12px;
  height: 12px;
  color: transparent;
  border-radius: 12px;
}

/** Report Card */

.report-card {

}

.report-card__header {
  position: relative;
  top:0;
  left:0;
  right:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  height: 80px;
  padding:8px 24px;
}

@media(min-width: 960px) {
  .report-card__header {
    position:absolute;
  }
  .report-card__body {
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
    overflow: auto;
  }
}



.report-card-section {
  border-top: 1px solid #e0e0e0;
}

.report-card .report-card-section__heading {
  font-size: 1rem;
  font-weight: bold;
  padding: 16px;
}
.report-card .report-card-section__body {
  padding: 0 16px 16px 16px;
}

/** END COMPONENTS */

.tooltip {
  position: absolute;
  z-index: 9999;
  margin: 8px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  margin-top: -20px;
  margin-left: -2px;
  transform: translate(-50%, -100%);
  border-radius:2px;
  pointer-events: none;
  text-align: center;
  font-size: 12px;
}
.tooltip:after {
  content: '';
  display: block;
  position: absolute;
  width:0;
  height:0;
  border: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
}

.tooltip__title {
  line-height: 1;
  font-weight: bold;
  margin-bottom: 2px;
}

/* .mapboxgl-ctrl-bottom-left {
  top: 24px!important;
  right: 6px!important;
  left: auto!important;
  bottom: auto!important;
} */

.ais-InstantSearch__root {
  
}

.ais-SearchBox {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  background: #fff;
}

.ais-SearchBox-input {
  border: none;
  height:40px;
  padding:8px;
  width:100%;
  font-size: 16px;
  width: calc(100% - 40px)
}

.ais-SearchBox-submit {
  position:absolute;
  background: none;
  border:none;
  right: 8px;
  top:10px;
}

.ais-SearchBox-submitIcon {
  width:16px!important;
  height: 16px!important;
}

.ais-SearchBox-reset {
  display:none;
}

.ais-Hits {

}

.ais-Hits-list {
  list-style: none;
  padding:0;
  margin:0;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);

}


.hint .hint__container {
  margin-top: -32px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 2px;
  box-shadow: none;
  overflow:visible;
}
.hint .hint__container:after {
  content: '';
  display: block;
  position: absolute;
  width:0;
  height:0;
  border: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
}

.hint {
  pointer-events:none;
}

.hint .hint__container p  {
  font-size:12px;
  color: #fff;
}


.map-scatterplot__header .hint__text {
  display: inline-block;
  height: 24px;
  margin-bottom: -2px;
}